* {
	margin:0px;
	padding:0px;
}

html, body{
	font-family: 'Poppins', sans-serif;
	height: 100%;
	background-color:#f7f7f7;
}

.clearFix:after{
	content:"";
	display:table;
clear:both;}

.containermy{
	max-width:1920px;
	min-width:600px;
	margin: 0 auto;
	min-height: 100%;
	/* Style for "Слой 5" */
	
	position:relative;
	
}

.header{
	margin-top: 12px;
	width: 1920px;
	height: 83px;
	background-color: #000000;
	opacity: 0.7;
	display:flex;
}

.headerIn{
	
    
    margin: 0 25%;
	display:inline-block;
	min-width:971px;
}

.nameHistorical{
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	line-height: 22.36px;
	letter-spacing: 0.77px;
	float:left;
	
}

.nameGAMES{
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	line-height: 22.36px;
	text-transform: uppercase;
	letter-spacing: 30px;
	position: absolute;
    float:left;
    margin-top: 45px;
}

.imgTel{
	width: 17px;
    height: 25px;
    margin-top: 27px;
    margin-left: 158px;
	float:left;
}

.tel{
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;
	letter-spacing: 0.36px;
	margin-left: 6px;
    margin-top: 34px;
	float:left;
}

.imgEmail{
	width: 25px;
    height: 19px;
    margin-top: 32px;
    margin-left: 39px;
	float:left;
}

.emailAdress{
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;
	
	letter-spacing: 0.36px;
	
	margin-top: 35px;
    margin-left: 14px;
	float:left;
}

.formSearch{
	width: 208px;
	height: 38px;
	border: 1px solid #ffffff;
	margin-top:23px;
	margin-left:38px;
	display:block;
	float:left;
}
.textSearch{
	width: 158px;
    height: 104%;
    background-color: #000000;
    opacity: 0.7;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    border: 1px solid;
    padding-left: 7px;
    margin-left: -1px;
    margin-top: -1px;
	
}

.btnSearch {
    background:url(../img/findIcon.png) no-repeat;
    cursor:pointer;
    width: 18px;
    height: 19px;
    border: none;
	
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
}


.menu{
	height:58px;
	display:inline-block;
}

.menuList{
	list-style-type: none;
    position: relative;
    left: 703px;
    top: 39px;
	padding-right: 20px;
	display: inline-block;
    float: left;
	
}

.menuListActive{
	/* Style for "Home" */
	/*width: 511px;
	height: 16px;*/
	
	font-family: "Roboto Condensed";
	font-size: 19px;
	font-weight: 400;
	line-height: 22.36px;
	/* Text style for "Home" */
	color: #ffffff;
	letter-spacing: 0.36px;
	list-style: none;
}

.menuLink{
	text-decoration:none;
	color: #000000;
}

.lineBlack{
	height: 0.5px;
    width: 1920px;
    border-color: black;
    border: 1px solid;
    
    margin-top: 30px;
    display: inline-block;
	
	
}

.blockGallery{
	width: 1173px;
    height: 1172px;
    margin: 105px 20%;
	display: block;
}

.row{
	float: left;
	margin: 0% 0%;
	width:25%;
}

.textGallery{
	/* Style for "Our Galler" */
	width: 202px;
	height: 37px;
	
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	display:inline-block;
	margin: 37px 42%;
	white-space: nowrap;
	
}

.thumbnail{
	width:271px;
	height:482px;
	background-color:#f7f7f7;
	border:none;
	padding:0px;
}

.galleryName{
	/* Style for "battlefiel" */
	width: 90px;
	height: 12px;
	opacity: 1;
	color: #000000;
	text-transform:uppercase;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
	/* Text style for "battlefiel" */
	letter-spacing: 0.14px;
	margin: 0 auto;
    margin-top: 19px
	display: inline-block;
	margin-top: 19px
	margin-bottom:106px;
}

.btnMy{
	width: 130px;
	height: 30px;
	background-color: #f44336;
	border-radius: 0px;
	border: 0px transparent;
	display:inline-block;
	margin-top: 30px;
    margin-left: 54px;
}

.moreGames{
	width: 208px;
	height: 38px;
	border: 2px solid #000000;
	float: left;
	margin: 68px 41%;
	position:relative;
}

.moreGS{
	width: 123px;
	height: 16px;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;
	/* Text style for "Show more" */
	letter-spacing: 0.36px;
	white-space:nowrap;
	float:left;
	margin:6px 16%;
}

.formDiscount{
	float:none;
	display:inline-flex;
}

.discountBanner{
	position: relative;
    float: left;
}

.textDiscount{
	width: 91px;
	height: 14px;
	color: #010101;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	text-transform: uppercase;
	position:absolute;
	margin-top: 152px;
    margin-left: 114px;
}

.nameOfDiscount{
	width: 307px;
	height: 27px;
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	position: absolute;
    margin-top: 183px;
    margin-left: 112px;
}

.prise{
	/* Style for "$14.44 / $" */
	width: 323px;
	height: 56px;
	color: #8c8c8c;
	font-family: Poppins;
	
	font-weight: 300;
	line-height: 48px;
	/* Text style for "$, 14.44" */
	color: #000000;
	font-size: 62px;
	
	position: absolute;
    margin-top: 272px;
    margin-left: 115px;
}

.priseSlash{
	/* Text style for "$28.90" */
	opacity:0.6;
	font-size: 36px;
	text-decoration: line-through;
	margin-left: 297px;
}

.btnDiscount{
	/* Style for "$15.96 / $" */
	width: 265px;
	height: 62px;
	border: 1px solid #000000;
	background-color: #f44336;
	position: absolute;
    margin-top: 347px;
    margin-left: 115px
}

.btnPriceText{
	width: 55px;
	height: 30px;
	color: #ffffff;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "B, uy" */
	letter-spacing: 0.3px;
	position: absolute;
    margin: 11px 34%;
}

.discountBanner{
	width: 960px;
	height: 562px;
}


.contactUs{
	width:1390px;
	height:466px;
	display:inline-block;
	
	float:none;
	margin-top:174px;
	margin-left:476px;
}

.headerContactUs{
	display:absolute;
	margin:0 28%;
	float:left;
	width: 198px;
	height: 27px;
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
}

.text1{
	
	margin-top:123px;
	margin-left:20px;
	
	width: 201px;
	height: 20px;
	white-space:nowrap;
	
	color: #f44336;
	font-family: "Roboto Condensed";
	font-size: 26px;
	font-weight: 400;
	line-height: 48px;
}

.address{
	display:absolute;
	margin-top:15px;
	margin-left:3px;
	float:left;
	width: 386px;
	height: 201px;
	color: #9e9e9e;
	font-family: "Roboto Condensed";
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	/* Text style for "mail@examp" */
	
}

.field1{
	display:absolute;
	margin-top: 183px;
    margin-left: -386px;
	float:left;
}

.field2{
	display:absolute;
	margin-top:183px;
	margin-left:-334px;
	float:left;
	color: #f44336
}

.nameField{
	
	position: absolute;
    margin-top: -40px;
	margin-left:115px;
	padding-left:10px;
	width: 471px;
	height: 47px;
	border: 1px solid #000000;
}

.emailField{
	position: absolute;
    margin-top: 42px;
	margin-left:115px;
	padding-left:10px;
	width: 471px;
	height: 47px;
	border: 1px solid #000000;
}

.messageField{
	width: 471px;
	height: 138px;
	border: 1px solid #000000;
	position: absolute;
    margin-top: 126px;
	margin-left:115px;
	padding-left:10px;
	padding-bottom:95px;
}

.btnContactUs{
	margin-top:276px;
	margin-left:115px;
	float: left;
	/* Style for "Прямоуголь" */
	width: 140px;
	height: 39px;
	background-color: #f44336;
}

.caseMap{
	width:970px;
	height:440px;
	display:inline-block;
	position:relative;
	float:none;
	margin:174px 24%;
}

.textRouteMap{
	width: 189px;
	height: 36px;
	
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
	margin: 0px 40%;
    position: relative;
	
}

.map{
	margin: 47px auto;
    float: left;
}

.clr{
	display:block;
	margin-top:71px;
}

.footer {
	width: 100%;
	max-width:1920px;
	min-width:600px;
	margin: 0 auto;
	height:71px;
	background-color: #000000;
	opacity: 1;
	position: relative;
	
}
.textFooterBlock{
	display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.textFooter{
	/* Style for "© 2017 His" */
	height: 15px;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	/* Text style for "©,  2017 H" */
	letter-spacing: 0.16px;
}
.textFooterExt{
	/* Text style for "W3layouts" */
	color: #f44336;
	margin-left:0.16px;
	margin-left:3px;
}

.product{
	width:970px;
	height:414px;
	margin-top: 206px;
    margin-left: 446px;
}

.fotoProduct{
	width:470px
	height:385px;
	float:left;
}
.detailProduct{
	weight:470px;
	height:414px;
	float:left;
}
.headerProduct{
	/* Style for "Assasin’s" */
	width: 291px;
	height: 37px;
	color: #000000;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	/* Text style for ", Rogue" */
	
	margin: 0 auto;
	
}
.headerProductExt{
	color: #f44336;
	text-align: center;
	height: 57px;
}

.priceProduct{
	/* Style for "$29.99" */
	/* Style for "$29.99" */
	width: 187px;
	height: 68px;
	color: #000000;
	font-family: Poppins;
	font-size: 62px;
	font-weight: 300;
	line-height: 48.02px;
	margin: 0 auto;
}
.btnBuyProduct{
	/* Style for "Прямоуголь" */
	width: 470px;
	height: 62px;
	background-color: #f44336;
	
	font-family: Poppins;
	font-size: 30px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "B, uy" */
	letter-spacing: 0.3px;
}
.productText{
	/* Style for "The plot i" */
	width: 463px;
	height: 153px;
	
	color: #999999;
	font-family: "Roboto Condensed";
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "The plot i" */
	letter-spacing: 0.12px;
}

.similarGames{
	width: 1920px;
	height: 684px;
	background-color: #e3e3e3;
	
	display: inline-block;
	margin-top: 178px;
	
}
.headTextSimilar{
	width: 258px;
	height: 38px;
	margin:49px auto;
	margin-bottom:80px;
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	
}
.blockOutSimilar{
	margin:0 auto;
	float:left;
	width: 1174px;
	margin: 0% 19%;
}
.blockSimilar{
	width: 270px;
	height: 378px;
	float: left;
    margin: 0% 1%;
}
.imgSg{
	
	/* Style for "81ppB9HHu7" */
	width: 270px;
	height: 378px;
	
	
}
.pSG{
	/* Style for "MIDDLE-EAR" */
	height: 32px;
	color: #000000;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 0.14px;
	text-align: center;
}
.btnBuySG{
	width: 130px;
	height: 30px;
	background-color: #f44336;
	color: #ffffff;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "B, uy" */
	letter-spacing: 0.14px;
	margin: 0 25%;
	
}


@media screen and (max-width:1940px){
	.containermy{
		height:4100px;
		
	}
	
	.headerIn{
		margin: 0 12%;
		display:inline-block;
		min-width:971px;
	}
	
	.contactUs {
		width: 1390px;
		height: 466px;
		display: block;
		position: relative;
		float: left;
		margin: 174px 15%;
	}
	
	.formDiscount{
		display:block;
		position: relative;
		margin: 0 2%;
	}
}


@media screen and (max-width: 1536px){
	
	.containermy{
		height:5225px;
	}
	
	.headerIn{
		margin: 0 1%;
		display:inline-block;
		min-width:971px;
	}
	
	.caseMap {
		width: 970px;	
		height: 440px;
		display: inline;
		position: relative;
		float: left;
		margin: 174px 16%;
	}
	
	.menu {
		
		margin-left: 12px;
		
	}
	
	.menuList{
		display: contents;
		left: 0px;
		top: 0px;
		padding-right: 0px;
		
		
	}
	
	.row{
		float: left;
		margin: 0% 0%;
		width:50%;
	}
	
	.textGallery {
		width: 100%;
		margin: 37px 30%;
	}
	
	.moreGames{
		width: 208px;
		height: 38px;
		border: 2px solid #000000;
		float: left;
		margin: 68px 29%;
		position:relative;
	}
	
	.footer {
		width: 100%;
		max-width:100%;
		min-width:500px;
		margin: 0 auto;
		height:71px;
		background-color: #000000;
		opacity: 1;
		position: relative;
		
	}
	
}