* {
	margin:0px;
	padding:0px;
}

html, body{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	height: 100%;
	background-color:#f7f7f7;
}

.clearFix:after{
	content:"";
	display:table;
	clear:both;}

.container{
	width:1920px;
	margin: 0 auto;
}

.startPage{
	height:725px;
	background-image:url(img/bgMain.jpg);
	display: flow-root;
}

.header{
	margin-top: 13px;
	width: 1920px;
	height: 83px;
	background-color: #000000;
	opacity: 0.7;
    display: flex;
    justify-content: flex-start;
}

.logo{
    margin-top: 19px;
    margin-left: 475px;
}

.nameHistorical{
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	line-height: 22.36px;
	letter-spacing: 0.77px;
}

.nameGAMES{
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	line-height: 22.36px;
	text-transform: uppercase;
	letter-spacing: 30px;
}
.blockTel{
	
}

.imgTel{
	weight:17px;
	height:25px;
	padding-left: 158px;
    padding-top: 27px;
}

.tel{
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;
	letter-spacing: 0.36px;
	
	padding-left: 6px;
    padding-top: 34px;
}

.imgEmail{
	weight:25px;
	height:19px;
	padding-top: 32px;
    padding-left: 51px;
}

.emailAdress{
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;

	letter-spacing: 0.36px;
	
	padding-top: 32px;
    padding-left: 10px;
}


.searchField{
	padding-left: 100px;
    padding-top: 23px;
    z-index: 1;
}

.txtSearch{
	z-index: 2;
    margin-top: -36px;
    margin-left: 113px;
	
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;

	letter-spacing: 0.36px;
}
.breakField{
	position: absolute;
    z-index: 3;
    margin-left: 263px;
    margin-top: -30px;
}

.execSearch{
	z-index: 3;
    position: absolute;
    margin-top: -20px;
    margin-left: 276px;
}

.menu{
	height:58px;
}
	
.menuList{
	list-style-type: none;
    display: inline;
    position: relative;
    left: 703px;
    top: 39px;
	padding-right: 20px;
	
}

.menuListActive{
	/* Style for "Home" */
	width: 511px;
	height: 16px;

	font-family: "Roboto Condensed";
	font-size: 19px;
	font-weight: 400;
	line-height: 22.36px;
	/* Text style for "Home" */
	color: #ffffff;
	letter-spacing: 0.36px;
	list-style: none;
}

.menuLink{
	text-decoration:none;
	color: #000000;
}

.textSmall{
	white-space: nowrap;
	padding-top: 165px;
	padding-left: 906px;
    width: 107px;
    height: 18px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.18px;
}

.centralText{
	display:block;
}

.mainText{
	white-space: nowrap;
	padding-left: 670px;
	/* Style for "Morbi in n" */
	width: 576px;
	height: 48px;
	color: #ffffff;
	font-family: Poppins;
	font-size: 60px;
	font-weight: 500;
	line-height: 48px;
	/* Text style for "M, orbi in" */
	letter-spacing: 0.6px;
}

.dash {
	width: 80px;
    padding-top: 16px;
    padding-left: 917px;
}

.socialNets{
	display: flex;
    height: 40px;
    margin-left: 860px;
    margin-top: 127px;
	margin-bottom: 146px;
}

.ring1{
	z-index: 1;
    padding-right: 10px;

}

.facebook-logo{
	z-index:2;
	position: absolute;
    padding-left: 16px;
    padding-top: 12px;
}

.twitter-logo-silhouette{
	z-index:2;
	position: absolute;
    padding-left: 14px;
    padding-top: 14px;
}

.rss-feed-suscription-button-symbol-for-interface{
	z-index:2;
	position: absolute;
    padding-left: 14px;
    padding-top: 12px;
}

.vk-social-network-logo{
	z-index:2;
	position: absolute;
    padding-left: 11px;
    padding-top: 16px;
}

.aboutUs{
	display:flex;
	height:500px;
}

.aboutH3{
	/* Style for "About Us!" */
	white-space:nowrap;
	width: 169px;
	height: 28px;
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	position: absolute;
    padding-left: 475px;
    padding-top: 75px;
}

.aboutH2{
	/* Style for "Lorem Ipsu" */
	white-space:nowrap;
	width: 301px;
	height: 45px;
	color: #f44336;
	font-family: "Arial - Bold MT";
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	/* Text style for "Lorem Ipsu" */
	letter-spacing: 0.48px;
	position: absolute;
    padding-left: 475px;
    padding-top: 106px;
}

.aboutParagraph{
	/* Style for "Nemo enim" */
	width: 398px;
	height: 203px;
	color: #999999;
	font-family: "Roboto Condensed";
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "Nemo enim" */
	letter-spacing: 0.12px;
	position: absolute;
    padding-left: 475px;
    padding-top: 158px;
}

.girlWithHook{
	float: left;
    position: absolute;
    padding-top: 83px;
    padding-left: 906px;
}

.services{
	display:flex;
	height:762px;
}
.nameServ{
	width: 149px;
    height: 29px;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin-top: 92px;
    margin-left: 888px;
	position: absolute;
}

.headerRed{
	/* Style for "Repreh Qui" */
	white-space:nowrap;
	width: 216px;
	height: 18px;
	color: #f44336;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "Repreh Qui" */
	letter-spacing: 0.16px;
	position: absolute;
    margin-top: 212px;
    margin-left: 533px;
}

.textRed{
	/* Style for "Itaque ear" */
	width: 282px;
	height: 51px;
	color: #999999;
	font-family: "Roboto Condensed";
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	/* Text style for "Itaque ear" */
	letter-spacing: 0.12px;
	position: absolute;
    margin-left: 447px;
    margin-top: 248px;
}

.header2{
	/* Style for "Aut Perfer" */
	white-space:nowrap;
	width: 206px;
	height: 14px;
	color: #000000;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "Aut Perfer" */
	letter-spacing: 0.16px;
	position: absolute;
    margin-left: 542px;
    margin-top: 385px;
}

.text2{
	/* Style for "Itaque ear" */
	width: 282px;
	height: 51px;
	color: #999999;
	font-family: "Roboto Condensed";
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	/* Text style for "Itaque ear" */
	letter-spacing: 0.12px;
	position: absolute;
    margin-left: 467px;
    margin-top: 419px;
}
.header3{
	position: absolute;
    margin-left: 529px;
    margin-top: 560px;
}

.text3{
	position: absolute;
    margin-left: 467px;
    margin-top: 594px;
}
.header4{
	position: absolute;
    margin-left: 1177px;
    margin-top: 212px;
}

.text4{
	position: absolute;
    margin-left: 1177px;
    margin-top: 248px;
}

.header5{
	position: absolute;
    margin-left: 1177px;
    margin-top: 386px;
}

.text5{
	position: absolute;
    margin-left: 1177px;
    margin-top: 422px;
}
.header6{
	position: absolute;
    margin-left: 1177px;
    margin-top: 560px;
}

.text6{
	position: absolute;
    margin-left: 1177px;
    margin-top: 596px;
}

.AllElips{
	position:absolute;
	margin-top:208px;
	margin-left:815px;
	height:448px;
	
}

.gallery{
	display:flex;
	height:889px;
}

.nameGallery{
	/* Style for "Our Galler" */
	width: 201px;
	height: 37px;
	white-space:nowrap;
	color: #f44336;
	font-family: Poppins;
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
	position:absolute;
	margin-top:91px;
	margin-left:858px;
}

.imgAssasin{
	position: absolute;
    margin-left: 374px;
    margin-top: 222px;
    height: 483px
}

.frame1{
	/* Style for "Buy" */
	width: 26px;
	height: 15px;
	
	color: #ffffff;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "B, uy" */
	letter-spacing: 0.14px;
	position: absolute;
    margin-top: 668px;
    margin-left: 497px;
    height: 15px;
}

.imgTombraider{
	position: absolute;
    margin-left: 674px;
    margin-top: 222px;
    height: 483px
}
.frame2{
    margin-left: 796px;
}

.imgRyse_son_of_rome{
	position: absolute;
    margin-left: 974px;
    margin-top: 222px;
    height: 483px
}
.frame3{
    margin-left: 1096px;
}

.imgWarcraft{
	position: absolute;
    margin-left: 1274px;
    margin-top: 222px;
    height: 483px
}
.frame4{
    margin-left: 1396px;
}

.slider{	display:flex;
	background:url(img/testimonial.png);
	height:537px;
	
}

.textSlider{
	/* Style for "Testimonia" */
	width: 277px;
	height: 39px;
	/*opacity: -1;*/
	color: #ffffff;
	font-family: Poppins;
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
	position:absolute;
	margin-top:85px;
	margin-left:820px;
	height:39px;
}

.icon2{
	/* Style for "иконка 2" */
	width: 45px;
	height: 38px;
	
	opacity: 0.7;
	position:absolute;
	margin-top:214px;
	margin-left:931px;
}

.restangle1{
	/* Style for "Прямоуголь" */
	width: 37px;
	height: 37px;
	border: 1px solid #ffffff;
	
	position:absolute;
	margin-top:312px;
	margin-left:377px;
}

.left{
	/* Style for "" */
	width: 11px;
	height: 17px;
	text-decoration:none;
	color: #ffffff;
	font-family: "Font Awesome";
	font-size: 30px;
	font-weight: 400;
	position:absolute;
	margin-top:315px;
	margin-left:387px;
}

.sliderTextAutor{
	text-align:center;
	width: 935px;
	height: 136px;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 14px;
	font-weight: 300;
	position:absolute;
	margin-top:303px;
	margin-left:493px;
}

.restangle2{
	margin-left:1509px;



	text-decoration:none;
	width: 11px;
	height: 17px;
	
	color: #ffffff;
	font-family: "Font Awesome";
	font-size: 30px;
	font-weight: 400;
	
	margin-top:315px;
	margin-left:1522px;
}
